h1 {
  color: rgb(34, 34, 34);
  font-family: "Roboto Light";
  text-decoration: underline;
}
#drop_zone {
  border: 3px dashed rgb(188, 188, 188);
  border-radius: 20px;
  margin: auto;
  width: 500px;
  height: 300px;
  text-align: center;
  vertical-align: auto;
  align-items: center;
}
h2 {
  text-align: center;
  align-self: auto;
  font-family: "Roboto Light";
}
#drag_drop {
  width: 40%;
}
